@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:/*linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),*/url("/chatbg4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: center;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

/*dark mode looking scrollbar*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #555;
}
::-webkit-scrollbar-thumb{
    background: #121212;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #242424;
}